{% extends "base.html" %}

{% block content %}

<div style="max-width:500px;margin:40px auto;">

    <div class="card" style="text-align:center;">

        <h1>👤 پنل مشتری</h1>

        <p>
            برای مشاهده خدمات و ثبت درخواست وارد پنل مشتری شوید.
        </p>

        <a
            href="{{ url_for('customer_dashboard') }}"
            class="btn"
            style="
                width:100%;
                box-sizing:border-box;
                text-align:center;
                font-size:17px;
                padding:14px;
                margin-top:15px;
            "
        >
            ورود به پنل مشتری
        </a>

    </div>

</div>

{% endblock %}
